Benjamin Kaduk - Comment 4

Section 7

           leaf enable-hairpinning {
             type boolean;
             default "true";
             description
               "Enables/disables support for locally forwarding
                (hairpinning) traffic between two CEs.";
             reference "Section 6.2 of RFC7596";

Is a global toggle sufficient or would there be cases where more
fine-grained control would be needed?

A+P is designed to reduce as much as possible the per-subscriber state at the network/BR. Requiring fine-grained control would require some extra state to be maintained, which is not desired. Having the general parameter is sufficient.