Mirja Kühlewind - Comment 1

1) Sec 4.2:
"softwire-path-mru: optionally used to set the maximum IPv6
     softwire packet size that can be received, including the
     encapsulation/translation overhead.  Needed if the softwire
     implementation is unable to correctly calculate the correct IPv4
     Maximum Receive Unit (MRU) size automatically [RFC4213]."
I guess this should both be IPv6…?

Replied on 9/1/18:

This parameter is provided to address the possible fragmentation
problems described in RFC4213 section 3.2, where the sender is sending
encapsulated packets based on the IPv6 MTU resulting in the receiver
getting IPv4 payloads larger than they can process, or requiring the IPv4
to be fragmented, so the second IPv4 is correct.

Would the following wording for the second sentence make this more clear?:

Needed if the softwire implementation is unable to correctly
calculate the correct IPv4 payload Maximum Receive Unit (MRU)
size automatically (see Section 3.2 of [RFC4213)].